form {
  display: flex;
  flex-direction: column;
  font-family: Verdana , Geneva , Tahoma , sans-serif;
  font-weight: 700;
  line-height: 150%;
  width: 100%;
}

form div {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.name {
  border-bottom: 2px solid dimgray;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 10px;
}

.description {
  border-bottom: 2px solid dimgray;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 10px;
  resize: none;
}

form label {
  color: #3d495c;
  padding: 3px;
}

.attr {
  align-self: flex-end;
  margin: 10px;
  width: 75%;
}

.new-card {
  display: flex;
  flex-direction: column;
  width: 700px;
}

form p {
  color: #3d495c;
  text-align: center;
}
